<ion-view view-title="Login">
  <ion-content class="padding has-header">
    <label class="item item-input"><span class="input-label">Email</span><input type="email" ng-model="data.email_id"></label>

    <label class="item item-input"><span class="input-label">Password</span><input type="password" ng-model="data.password"></label>

    <button class="button button-block button-calm" ng-click="login()">Login</button>

    <button class="button button-block button-assertive" ng-click="registration()">Register as a new user</button>

  </ion-content>
</ion-view>